In [98]:
import pandas as pd
from tiny_clues_recommander.data.dataset import Dataset, InfoData
from IPython.display import display, HTML

In [77]:
ratings = pd.read_csv('data/books/BX-Book-Ratings.csv', sep=';', encoding="ISO-8859-1")
users = pd.read_csv('data/books/BX-Users.csv', sep=';', encoding="ISO-8859-1")

books = pd.read_csv('data/books/BX-Books.csv', sep=';', encoding="ISO-8859-1",
                   warn_bad_lines=False, error_bad_lines=False)

/home/zaki/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [100]:
display(HTML('<h2>Books Data Frame</h2>'))
display(books.head())

display(HTML('<h2>Users Data Frame</h2>'))
display(users.head())

display(HTML('<h2>Ratings Data Frame</h2>'))
display(ratings.head())

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [78]:
data = Dataset(ratings)
trainset = data.build_trainset()

In [79]:
user_info = InfoData(users, 'User-ID')

In [80]:
book_info = InfoData(books, 'ISBN')

##### Access Meta data

In [81]:
trainset.set_item_info(book_info)
trainset.set_user_info(user_info)

In [82]:
trainset.get_itemid_info(1, is_raw_id=False)

{'Book-Title': 'Rites of Passage',
 'Book-Author': 'Judith Rae',
 'Year-Of-Publication': '2001',
 'Publisher': 'Heinle',
 'Image-URL-S': 'http://images.amazon.com/images/P/0155061224.01.THUMBZZZ.jpg',
 'Image-URL-M': 'http://images.amazon.com/images/P/0155061224.01.MZZZZZZZ.jpg',
 'Image-URL-L': 'http://images.amazon.com/images/P/0155061224.01.LZZZZZZZ.jpg'}

In [83]:
trainset.get_userid_info(1)

{'Location': 'nyc, new york, usa', 'Age': nan}

##### iterate over ratings

In [87]:
for _, a in zip(range(30), trainset.all_ratings()):
    print(a)

(0, 0, 0.0)
(1, 1, 5.0)
(2, 2, 0.0)
(3, 3, 3.0)
(3, 4, 6.0)
(4, 5, 0.0)
(5, 6, 8.0)
(6, 7, 6.0)
(7, 8, 7.0)
(8, 9, 10.0)
(9, 10, 0.0)
(9, 11, 0.0)
(9, 12, 0.0)
(9, 13, 0.0)
(9, 14, 0.0)
(9, 15, 0.0)
(10, 16, 9.0)
(10, 17, 0.0)
(10, 18, 0.0)
(10, 19, 9.0)
(10, 20, 8.0)
(10, 21, 7.0)
(10, 22, 0.0)
(10, 23, 7.0)
(11, 24, 6.0)
(11, 25, 0.0)
(12, 26, 0.0)
(12, 27, 8.0)
(13, 28, 8.0)
(14, 29, 5.0)